html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: flex-center;
  flex-direction: column;
  color: rgb(214, 202, 71);
  background: black;
}

#message, #notes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#message {
  font-size: 3.5rem;
}
#reset {
  font-size: 1.8rem;
  color: rgb(115, 255, 0);
  background:black;
  font-family:  arial;
  margin-bottom: 40px;
}
#yodaGif {
  height: 400px;
  width: auto;
}
#yoda1 {
  height: 300px;
  width: auto;
}
.board {
  display: flex;
  flex-wrap: wrap;
}

.board div {
  color: green;
  font-size: 2rem;
  width: 75px;
  height: 75px;
  border: 2px rgb(20, 13, 13) dotted;
  border-radius: 10%;
  background-color: rgb(114, 114, 114);
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board div:hover {
  background-color:  rgb(240, 215, 194);
}

div.mine, div.mine:hover {
  background: no-repeat center/90% url("images/birdup.gif") rgb(224, 224, 224);
}

div.hidden {
  background: #eee;
}

div.hidden:hover {
  background: no-repeat center/90% url("images/yoda4.gif");
}

div.marked, div.marked:hover {
  background: no-repeat center/90% url("images/yoda.jpeg") rgb(47, 133, 30);
}
